/**
 * PandaCSS CSS layers
 * View the full documentation at https://panda-css.com/docs/concepts/cascade-layers#layer-css
 */
@layer reset, base, tokens, recipes, utilities;

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
  /* content: :attr(); */
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  font-size: 0.19vw;
}

@media screen and (min-width: 540px) {
  html {
    font-size: 0.05vw;
  }
}

body {
  padding: 0;
  font-size: 16rem;
  line-height: inherit;
  font-family: Poppins;
}

li {
  font-size: 22rem;
}

.card-subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 24rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
